.BurgerMenuHeader {
  padding: 15px 15px 5px 15px;
  background: #252838;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  position: fixed;
  top: 40px;
  left: 10px;
}
.BurgermenuComponets {
  height: 16px;
  margin-bottom: 12px;
}
.BurgermenuComponets svg {
  font-size: 16px;
  height: auto;
  color: #3369f3;
}
.BurgerMenuNavLink {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #e2e2e4;
  display: flex;
  align-items: center;
  height: 100%;
}

.BurgerMenuNavLinkP{
  margin-left: 8px;
}
