.ProfileStatic{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ProlfileLeftDiv{
   width: 64px;
   height: 100%;
   background-color: #252838;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
}
.ProlfileLeftIcone{
    width: 28px;
    height: 28px;
    background-color: #3369F3;
    padding: 7px;
    color: #E2E2E4;
    border-radius: 60%;
}
.ProfileMainDiv{
    width: 100%;
    height: 100%;
    background-color:  #343A4F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProfileStatusDiv{
    width: 510px;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 64px;
}
.ProfileNameImgDiv{
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ProfileNameImgDivImgDiv{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px solid white;
}

.ProfileNameImgDivImg{
    height: 100%;
}

.ProfileName{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #E2E2E4;
}

.ProfileUserproprtyDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ProfileInformationDiv{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4C546F;
    margin-bottom: 10px;
}

.ProfileEmail{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #9898B0;    
}
.ProfileEmailName{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    color: #E2E2E4;
}
.ProfileChangeDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfileChnage{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3369F3;
}
.ProfileLogOut{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #F44D4D;
}

.ProfileInformationDiv:nth-child(6){
    border-bottom: none;
}

.ProfileChangeDiv .ProfileInformationDiv:nth-child(3){
    border-bottom: none;
}

.ProfileChangeImgBgBlur{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4; 
    z-index: 1000;
}

.ProfileChangeImgContainerWrapper{
    width: 340px;
    height: 257px;
    top: 236px;
    position: fixed;
    background: #343A4F;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    z-index: 1001;
    margin: auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ProfileChangeImgContainerWrapperTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #E2E2E4;    
}


.ProfileChangeImgContainerWrapperSelectFile{
    width: 122px;
    height: 32px;
    cursor: pointer;
}

.ProfileChangeImgContainerWrapperSelectFile input{
    opacity: 0;
    width: 122px;
    height: 32px;
    z-index: 5;
    position: relative;
}

.ProfileChangeImgContainerWrapperSelectFile p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-decoration-line: underline;
    color: #3369F3;
    position: relative;
    top: -32px;
    width: 122px;
    height: 32px;
}

.ProfileChangeImgContainerWrapperButton{
    width: 240px;
    height: 37px;
    background: #3369F3;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}