.ProfileStatic{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ProlfileLeftDiv{
   width: 64px;
   height: 100%;
   background-color: #252838;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 999;
}
.ProlfileLeftIcone{
    width: 28px;
    height: 28px;
    background-color: #3369F3;
    padding: 7px;
    color: #E2E2E4;
    border-radius: 60%;
}
.ProfileMainDiv{
    width: 100%;
    height: 100%;
    background-color:  #343A4F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 64px;
}
.ProfileStatusDiv{
    width: 510px;
    height: 551px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ProfileNameImgDiv{
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ProfileNameImgDivImgDiv{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileNameImgDivImg{
    width: 100%;
    height: 100%;
}

.ProfileName{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #E2E2E4;
}

.ProfileUserproprtyDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ProfileInformationDiv{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4C546F;
    margin-bottom: 10px;
}

.ProfileEmail{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #9898B0;    
}
.ProfileEmailName{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    color: #E2E2E4;
}
.ProfileChangeDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfileChnage{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3369F3;
}
.ProfileLogOut{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #F44D4D;
}

.ProfileInformationDiv:nth-child(6){
    border-bottom: none;
}

.ProfileChangeDiv .ProfileInformationDiv:nth-child(3){
    border-bottom: none;
}