*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    user-select: none;
}

button{
    user-select: none;
}

input::placeholder{
    user-select: none;
    -webkit-user-drag: none;
}
